Clinica/Web References/WsClinica/WS-SERVER.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Registrar_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Registrar_UsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Remover_UsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Login_UsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datos_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datos_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos_UsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datos_Doctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datos_DoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos_DoctorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar_Doctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="especialidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar_DoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Registrar_DoctorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_Doctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_DoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Remover_DoctorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_Doctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_DoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Login_DoctorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agendar_Cita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula_doctor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha_hora" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="detalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agendar_CitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Agendar_CitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_Cita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_Cita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedula_doc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remover_CitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Remover_CitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Citas_Doctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc_cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Citas_DoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Citas_DoctorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Citas_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Citas_UsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Citas_UsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta_Doctores">
        <s:complexType />
      </s:element>
      <s:element name="Consulta_DoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consulta_DoctoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Registrar_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar_Usuario" />
  </wsdl:message>
  <wsdl:message name="Registrar_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Registrar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Remover_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Remover_Usuario" />
  </wsdl:message>
  <wsdl:message name="Remover_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Remover_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Login_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Login_Usuario" />
  </wsdl:message>
  <wsdl:message name="Login_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Login_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Datos_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Datos_Usuario" />
  </wsdl:message>
  <wsdl:message name="Datos_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Datos_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Datos_DoctorSoapIn">
    <wsdl:part name="parameters" element="tns:Datos_Doctor" />
  </wsdl:message>
  <wsdl:message name="Datos_DoctorSoapOut">
    <wsdl:part name="parameters" element="tns:Datos_DoctorResponse" />
  </wsdl:message>
  <wsdl:message name="Registrar_DoctorSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar_Doctor" />
  </wsdl:message>
  <wsdl:message name="Registrar_DoctorSoapOut">
    <wsdl:part name="parameters" element="tns:Registrar_DoctorResponse" />
  </wsdl:message>
  <wsdl:message name="Remover_DoctorSoapIn">
    <wsdl:part name="parameters" element="tns:Remover_Doctor" />
  </wsdl:message>
  <wsdl:message name="Remover_DoctorSoapOut">
    <wsdl:part name="parameters" element="tns:Remover_DoctorResponse" />
  </wsdl:message>
  <wsdl:message name="Login_DoctorSoapIn">
    <wsdl:part name="parameters" element="tns:Login_Doctor" />
  </wsdl:message>
  <wsdl:message name="Login_DoctorSoapOut">
    <wsdl:part name="parameters" element="tns:Login_DoctorResponse" />
  </wsdl:message>
  <wsdl:message name="Agendar_CitaSoapIn">
    <wsdl:part name="parameters" element="tns:Agendar_Cita" />
  </wsdl:message>
  <wsdl:message name="Agendar_CitaSoapOut">
    <wsdl:part name="parameters" element="tns:Agendar_CitaResponse" />
  </wsdl:message>
  <wsdl:message name="Remover_CitaSoapIn">
    <wsdl:part name="parameters" element="tns:Remover_Cita" />
  </wsdl:message>
  <wsdl:message name="Remover_CitaSoapOut">
    <wsdl:part name="parameters" element="tns:Remover_CitaResponse" />
  </wsdl:message>
  <wsdl:message name="Citas_DoctorSoapIn">
    <wsdl:part name="parameters" element="tns:Citas_Doctor" />
  </wsdl:message>
  <wsdl:message name="Citas_DoctorSoapOut">
    <wsdl:part name="parameters" element="tns:Citas_DoctorResponse" />
  </wsdl:message>
  <wsdl:message name="Citas_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Citas_Usuario" />
  </wsdl:message>
  <wsdl:message name="Citas_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Citas_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Consulta_DoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta_Doctores" />
  </wsdl:message>
  <wsdl:message name="Consulta_DoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:Consulta_DoctoresResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SERVERSoap">
    <wsdl:operation name="Registrar_Usuario">
      <wsdl:input message="tns:Registrar_UsuarioSoapIn" />
      <wsdl:output message="tns:Registrar_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remover_Usuario">
      <wsdl:input message="tns:Remover_UsuarioSoapIn" />
      <wsdl:output message="tns:Remover_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login_Usuario">
      <wsdl:input message="tns:Login_UsuarioSoapIn" />
      <wsdl:output message="tns:Login_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Datos_Usuario">
      <wsdl:input message="tns:Datos_UsuarioSoapIn" />
      <wsdl:output message="tns:Datos_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Datos_Doctor">
      <wsdl:input message="tns:Datos_DoctorSoapIn" />
      <wsdl:output message="tns:Datos_DoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar_Doctor">
      <wsdl:input message="tns:Registrar_DoctorSoapIn" />
      <wsdl:output message="tns:Registrar_DoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remover_Doctor">
      <wsdl:input message="tns:Remover_DoctorSoapIn" />
      <wsdl:output message="tns:Remover_DoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login_Doctor">
      <wsdl:input message="tns:Login_DoctorSoapIn" />
      <wsdl:output message="tns:Login_DoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agendar_Cita">
      <wsdl:input message="tns:Agendar_CitaSoapIn" />
      <wsdl:output message="tns:Agendar_CitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remover_Cita">
      <wsdl:input message="tns:Remover_CitaSoapIn" />
      <wsdl:output message="tns:Remover_CitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Citas_Doctor">
      <wsdl:input message="tns:Citas_DoctorSoapIn" />
      <wsdl:output message="tns:Citas_DoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Citas_Usuario">
      <wsdl:input message="tns:Citas_UsuarioSoapIn" />
      <wsdl:output message="tns:Citas_UsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consulta_Doctores">
      <wsdl:input message="tns:Consulta_DoctoresSoapIn" />
      <wsdl:output message="tns:Consulta_DoctoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SERVERSoap" type="tns:WS_SERVERSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar_Usuario">
      <soap:operation soapAction="http://tempuri.org/Registrar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Usuario">
      <soap:operation soapAction="http://tempuri.org/Remover_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Usuario">
      <soap:operation soapAction="http://tempuri.org/Login_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datos_Usuario">
      <soap:operation soapAction="http://tempuri.org/Datos_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datos_Doctor">
      <soap:operation soapAction="http://tempuri.org/Datos_Doctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Doctor">
      <soap:operation soapAction="http://tempuri.org/Registrar_Doctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Doctor">
      <soap:operation soapAction="http://tempuri.org/Remover_Doctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Doctor">
      <soap:operation soapAction="http://tempuri.org/Login_Doctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agendar_Cita">
      <soap:operation soapAction="http://tempuri.org/Agendar_Cita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Cita">
      <soap:operation soapAction="http://tempuri.org/Remover_Cita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Citas_Doctor">
      <soap:operation soapAction="http://tempuri.org/Citas_Doctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Citas_Usuario">
      <soap:operation soapAction="http://tempuri.org/Citas_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Doctores">
      <soap:operation soapAction="http://tempuri.org/Consulta_Doctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_SERVERSoap12" type="tns:WS_SERVERSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Registrar_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Remover_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Login_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datos_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Datos_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datos_Doctor">
      <soap12:operation soapAction="http://tempuri.org/Datos_Doctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar_Doctor">
      <soap12:operation soapAction="http://tempuri.org/Registrar_Doctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Doctor">
      <soap12:operation soapAction="http://tempuri.org/Remover_Doctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_Doctor">
      <soap12:operation soapAction="http://tempuri.org/Login_Doctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agendar_Cita">
      <soap12:operation soapAction="http://tempuri.org/Agendar_Cita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover_Cita">
      <soap12:operation soapAction="http://tempuri.org/Remover_Cita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Citas_Doctor">
      <soap12:operation soapAction="http://tempuri.org/Citas_Doctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Citas_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Citas_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Doctores">
      <soap12:operation soapAction="http://tempuri.org/Consulta_Doctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SERVER">
    <wsdl:port name="WS_SERVERSoap" binding="tns:WS_SERVERSoap">
      <soap:address location="https://ws-server-clinica.azurewebsites.net/WS-SERVER.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_SERVERSoap12" binding="tns:WS_SERVERSoap12">
      <soap12:address location="https://ws-server-clinica.azurewebsites.net/WS-SERVER.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>